html, body {
  margin: 0;
  padding: 0;
}


.title{
    font-family: 'Bangers', cursive;
}

canvas {
  display: block;
}

.btnDiv{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

button{
    width: 200px;
    padding: 200px;
   
}